.modal {
    border: none;
    border-radius: 0.5rem;

    /* Slightly offsets close button's padding */
    padding: 2rem 2.5rem 2.5rem;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.33);
}

.modal-head {
    /* Slightly offsets close button's padding */
    margin-bottom: 2rem;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.modal-title {
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;

    font-size: 2rem;
    text-transform: uppercase;
}

.modal-button {
    border: none;
    border-radius: 50%;

    padding: 1rem;

    background: transparent;
}

.modal-button:hover {
    background: rgba(0, 0, 0, 0.05);
}

.modal-inner {
    padding: 0rem 1rem;
}