.game {
    max-width: 960px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.game-field,
.game-result {
    justify-content: center;
}

.game-field {
    display: flex;
    align-items: center;
}

.game-result {
    display: grid;
    align-content: center;
}

.game-result > :nth-child(1) {
    justify-self: end;
}

.game-result > :nth-child(2) {
    justify-self: start;
}

.game-result-info {
    text-align: center;

    grid-row: 2;
    grid-column: span 2;
}