.game {
    max-width: 960px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.game-field,
.game-result {
    display: grid;

    margin: auto;
}

.game-field {
    background: url("/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;

    column-gap: 2rem;
}

.game-field > :nth-child(1) {
    grid-column: 1;
}

.game-field > :nth-child(2) {
    grid-column: 2;
}

.game-field > :nth-child(3) {
    grid-column: span 2;

    justify-self: center;
}

.game-result > :nth-child(1) {
    justify-self: end;
}

.game-result > :nth-child(2) {
    justify-self: start;
}

.game-result-info {
    text-align: center;

    grid-row: 2;
    grid-column: span 2;
}

@media only screen and (min-width: 375.02px) {
    .game-field {
        column-gap: 3rem;
        row-gap: 0.33rem;
    }
}

@media only screen and (min-width: 425.02px) {
    .game-field {
        column-gap: 4rem;
        row-gap: 0.66rem;
    }
}

@media only screen and (min-width: 768.02px) {
    .game-field {
        column-gap: 5rem;
        row-gap: 0.99rem;
    }
}