.playpiece {
    margin: 0px;
    
    border: none;
    border-radius: 50%;
    
    padding: 0px;

    display: inline-block;
}

.playpiece.is-slot {
    background: hsl(237, 49%, 15%);
}

.playpiece-ring,
.playpiece-inner {
    border-radius: inherit;
}

.playpiece-ring {
    min-width: 7.5rem;
    min-height: 7.5rem;
    
    padding: 1.25rem;
    margin-bottom: 8px;
}

.playpiece-inner {
    width: 4rem;
    height: 4rem;

    padding: 1.75rem;

    background: buttonface;

    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}